{% extends 'base.html.twig' %}

{% block body %}
    <h1>Onedaymenu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oneDayMenu.id }}</td>
            </tr>
            <tr>
                <th>Daynumber</th>
                <td>{{ oneDayMenu.dayNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('onedaymenu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('onedaymenu_edit', { 'id': oneDayMenu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
