{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja kategroii</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}
    <a href="{{ path('category_index') }}"><button>Powrót do listy</button></a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Skasuj">
    {{ form_end(delete_form) }}
{% endblock %}
