{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista zamówień</h1>

    <table class="table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Klient</th>
                <th>Od kiedy</th>
                <th>Do kiedy</th>
                <th>Czas dostarczenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for oneOrder in oneOrders %}
            <tr>
                <td><a href="{{ path('oneorder_show', { 'id': oneOrder.id }) }}">{{ oneOrder.id }}</a></td>
                <td>{{ oneOrder.client }}</td>
                <td>{% if oneOrder.start %}{{ oneOrder.start|date('Y-m-d') }}{% endif %}</td>
                <td>{% if oneOrder.finish %}{{ oneOrder.finish|date('Y-m-d') }}{% endif %}</td>
                <td>{% if oneOrder.timeDelivery %}{{ oneOrder.timeDelivery|date('H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('oneorder_show', { 'id': oneOrder.id }) }}">Pokaż</a><br >
                    <a href="{{ path('oneorder_edit', { 'id': oneOrder.id }) }}">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <a href="{{ path('oneorder_new') }}"><button>Stwórz nowy order</button></a>

{% endblock %}
