{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu jednodniowe "{{ oneDayMenu.name }}" - edycja </h1>

    {{ form_start(edit_form) }}
    <table class="table-hover">
        <tr>
            <td>
                {{ form_label(edit_form.name, 'Nazwa') }}
            </td><td>
                {{ form_widget(edit_form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.diet, 'Dieta') }}
            </td><td>
                {{ form_widget(edit_form.diet) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.firstBreakfast, 'Śniadanie') }}
            </td><td>
                {{ form_widget(edit_form.firstBreakfast) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.secondBreakfast, 'Drugie śniadanie') }}
            </td><td>
                {{ form_widget(edit_form.secondBreakfast) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.dinner, 'Obiad') }}
            </td><td>
                {{ form_widget(edit_form.dinner) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.teaMeal, 'Podwieczorek') }}
            </td><td>
                {{ form_widget(edit_form.teaMeal) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.supper, 'Kolacja') }}
            </td><td>
                {{ form_widget(edit_form.supper) }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Zapisz zmiany" />
    {{ form_end(edit_form) }}
            <a href="{{ path('onedaymenu_index') }}"><button>Powrót do listy</button></a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
{% endblock %}
