{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nowy posiłek</h1>

    {{ form_start(form) }}
    <table class="table-hover">
        <tr>
            <td>
                {{ form_label(form.name, 'Nazwa posiłku') }}
            </td><td>
                {{ form_widget(form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.calorific, 'Kaloryczność') }}
            </td><td>
                {{ form_widget(form.calorific) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.ingredients, 'Składniki') }}
            </td><td>
                {{ form_widget(form.ingredients) }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Dodaj" />
    {{ form_end(form) }}
    <a href="{{ path('meal_index') }}"><button>Powrót do listy posiłków</button></a>
{% endblock %}
