{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista diet</h1>

    <table class="table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Kaloryczność</th>
                <th>Data startu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for diet in diets %}
            <tr>
                <td><a href="{{ path('diet_show', { 'id': diet.id }) }}">{{ diet.id }}</a></td>
                <td>{{ diet.name }}</td>
                <td>{{ diet.calorific }}</td>
                <td>{% if diet.startDate %}{{ diet.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{ path('diet_show', { 'id': diet.id }) }}">Pokaż</a><br />
                    <a href="{{ path('diet_edit', { 'id': diet.id }) }}">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diet_new') }}"><button>Stwórz nową dietę</button></a>

{% endblock %}
