{% extends 'base.html.twig' %}

{% block body %}
    <h1>Additionalinfos list</h1>

    <table class="table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fromdate</th>
                <th>Untildate</th>
                <th>Expire</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for additionalInfo in additionalInfos %}
            <tr>
                <td><a href="{{ path('additionalinfo_show', { 'id': additionalInfo.id }) }}">{{ additionalInfo.id }}</a></td>
                <td>{% if additionalInfo.fromDate %}{{ additionalInfo.fromDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if additionalInfo.untilDate %}{{ additionalInfo.untilDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if additionalInfo.expire %}Yes{% else %}No{% endif %}</td>
                <td>{{ additionalInfo.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('additionalinfo_show', { 'id': additionalInfo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('additionalinfo_edit', { 'id': additionalInfo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('additionalinfo_new') }}">Create a new additionalInfo</a>
        </li>
    </ul>
{% endblock %}
