{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodatkowa informacja</h1>

    <table class="table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ additionalInfo.id }}</td>
            </tr>
            <tr>
                <th>Do orderu</th>
                <td>{{ additionalInfo.oneOrder }}</td>
            </tr>
            <tr>
                <th>Treść</th>
                <td>{{ additionalInfo.text }}</td>
            </tr>
            <tr>
                <th>Od kiedy</th>
                <td>{% if additionalInfo.fromDate %}{{ additionalInfo.fromDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Do kiedy</th>
                <td>{% if additionalInfo.untilDate %}{{ additionalInfo.untilDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('additionalinfo_index') }}"><button>Powrót do listy</button></a><br />
    <a href="{{ path('additionalinfo_edit', { 'id': additionalInfo.id }) }}"><button>Edycja</button></a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Skasuj">
    {{ form_end(delete_form) }}
{% endblock %}
