{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja klienta</h1>

    {{ form_start(edit_form) }}
    <table class="table-hover">
        <tr>
            <td>
                {{ form_label(edit_form.name, 'Imie') }}
            </td><td>
                {{ form_widget(edit_form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.surname, 'Nazwisko') }}
            </td><td>
                {{ form_widget(edit_form.surname) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.phone, 'Numer telefonu') }}
            </td><td>
                {{ form_widget(edit_form.phone) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.city, 'Miasto') }}
            </td><td>
                {{ form_widget(edit_form.city) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.district, 'Dzielnica') }}
            </td><td>
                {{ form_widget(edit_form.district) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.street, 'Ulica') }}
            </td><td>
                {{ form_widget(edit_form.street) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.building, 'Nr domu') }}
            </td><td>
                {{ form_widget(edit_form.building) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(edit_form.flat, 'Nr lokalu') }}
            </td><td>
                {{ form_widget(edit_form.flat) }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Zapisz zmiany" />
    {{ form_end(edit_form) }}
    <a href="{{ path('client_index') }}"><button>Lista klientów</button></a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
